@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Cinzel+Decorative:wght@400;700;900&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel+Decorative:wght@400;700;900&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel+Decorative:wght@400;700;900&family=Jacques+Francois+Shadow&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
#cupOfCoffee{
    /*display: flex;*/
    /*color: bisque !important;*/
    font-size: 30px;
    /*padding-left: 215px;*/
    margin-left: 197vh;
    margin-top: 0.4vh;
    position: absolute;

    /*background-color: aqua;*/

}

.fa-telegram{
    color: #000;
    font-size: 17px;
}

.font{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
}

#myIdTeg{
    font-size: 14px !important;
    font-family: "PT Serif", serif;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-left: 6px;
}



.fa github{
    color: #000;
    font-size: 17px;
    left: 15px;
}

#myIdGit{
    color: #000;
    font-size: 14px !important;
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-left: 5px;
}
#phone{
    font-family: "Wittgenstein", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px !important;
}

.footerList{
    text-decoration: none;
}

#block1 {
    display: flex;
    width: 14vh;
    height: 3.5vh;

    margin-left: 143vh;
    margin-top: 2.5vh;
    text-align: center;
    font-optical-sizing: auto;
    border-radius: 20%;
    background-color: black;
    z-index: 0 !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid ;
    position: absolute;
}

#block2 {
    display: flex;
    width: 16.9vh;
    height: 3.5vh;

    margin-left: 167vh;
    margin-top: 2.5vh;

    background-color: black;
    border: 1px solid #333;
    text-align: center;

     font-family: "Raleway", sans-serif;
    font-style: normal;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 1px solid ;
    border: 1px solid ;


    border-radius: 20%;
    position: absolute;
}

#main {/*
    border-bottom: 2px solid #333;
    border-top: 2px solid #333;*/
    display: flex;

    width: 13vh;
    height: 3.5vh;
    margin-left: 119vh;
    margin-top: 2.5vh;


    z-index: 100000000 !important;
    /*background-color: rgba(0, 0, 0, 0);*/



    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;

    /* background: #6e6b61; */
    /* background: #895a24; */
    /* background: #744c1f; */
    border: 1px solid ;
    border-radius: 20%;
    /*background-color: rgba(255, 255, 255, 0.1);*/
    color: black;
    background-color: black;
    text-align: right !important;
    position: absolute;
}


.choice {
    text-decoration: none;
    color: #333;
    cursor: cell;
}

#cupOfCoffee:hover {
    transition: 0.5s ease;
    transform: rotate(360deg);
}


.words {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
}





body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.grid-table {
    margin-left: 70vh;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr)); /* Две колонки, минимум 100px и максимум 1fr */
    gap: 1px;

    width: 30%; 
    height: 21vh;
    border-collapse: collapse;
    grid-auto-rows: 4vh;
    z-index: 0 !important;
}

.grid-header,
.grid-row,
.grid-footer {
    text-align: center;
}

.grid-header {
    font-weight: bold;
}

.grid-footer {
    font-style: italic;
}

.grid-item {
    font-weight: bold;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
    grid-auto-columns: 10px !important;
    height: 15px;
    border: 2px solid;
    
}


@keyframes colorCycle {
    0% {border: 1px solid #F24E4B; }
    6% {border: 1px solid #F26B4B; }
    13% {border: 1px solid #F2664B; }
    19% {border: 1px solid #F2884B; }
    26% {border: 1px solid #F2996B; }
    32% {border: 1px solid #F2A64B; }
    39% {border: 1px solid #F2BC9C; }
    45% {border: 1px solid #F2A64B; }
    52% {border: 1px solid #F2996B; }
    58% {border: 1px solid #F2884B; }
    65% {border: 1px solid #F2664B; }
    71% {border: 1px solid orangered; }
    78% {border: 1px solid red; }
    84% {border: 1px solid #8B0000; } /* Dark Red */
    91% {border: 1px solid red;}
    100% {border: 1px solid orangered; } /* Slightly darker red */
}

#block1, #block2, #main {
    animation: colorCycle 10s infinite; /* 15 секунд для полного цикла анимации, бесконечное повторение */
    transition: border 1s ease; /* Плавный переход цвета */
}

@keyframes colorCycleTab {
    0% {border: 2px solid #F24E4B; }
    6% {border: 2px solid #F26B4B; }
    13% {border: 2px solid #F2664B; }
    19% {border: 2px solid #F2884B; }
    26% {border: 2px solid #F2996B; }
    32% {border: 2px solid #F2A64B; }
    39% {border: 2px solid #F2BC9C; }
    45% {border: 2px solid #F2A64B; }
    52% {border: 2px solid #F2996B; }
    58% {border: 2px solid #F2884B; }
    65% {border: 2px solid #F2664B; }
    71% {border: 2px solid orangered; }
    78% {border: 2px solid red; }
    84% {border: 2px solid #8B0000; } /* Dark Red */
    91% {border: 2px solid red;}
    100% {border: 2px solid orangered; } /* Slightly darker red */
}

.grid-item, #taskList {
    animation: colorCycleTab 10s infinite !important; /* 15 секунд для полного цикла анимации, бесконечное повторение */
    transition: border 1s ease !important; /* Плавный переход цвета */
}

@keyframes colorCycleFill {
    0% {color: #F24E4B;}
    6% {color: #F26B4B;}
    19% {color: #F2884B;}
    26% {color: #F2996B;}
    32% {color: #F2A64B;}
    39% {color: #F2BC9C;}
    45% {color: #F2A64B;}
    52% {color: #F2996B;}
    58% {color: #F2884B;}
    65% {color: #F2664B;}
    71% {color: orangered;}
    78% {color: red;}
    84% {color: #8B0000;} /* Dark Red */
    91% {color: red;}
    100% {color: orangered;} /* Slightly darker red */
}
#cupOfCoffee, #block1, #block2, #taskList{
    animation: colorCycleFill 10s infinite !important; /* Анимация изменения цвета фона */
    transition: color 1s ease;
}
#main{
    animation: colorCycleFill 10s infinite !important; /* Анимация изменения цвета фона */
    transition: color 1s ease;
}
.clickSection {
    display: none;
    font-size: 14px;
    margin-top: 4px;
    background-color: black;
    /*background-color: #fff !important;*/
    /* color: #333; нужно было к тексту чисто применить, не к блокам
    text-decoration: none; */
    /* border-style: hidden; */
    cursor: cell;
}

.choice {
    text-decoration: none;
    background-color: #333;
    cursor: cell;
}

@keyframes colorCycleUn {
    0% {text-underline-color: #F24E4B;}
    6% {text-underline-color: #F26B4B;}
    19% {text-underline-color: #F2884B;}
    26% {text-underline-color: #F2996B;}
    32% {text-underline-color: #F2A64B;}
    39% {text-underline-color: #F2BC9C;}
    45% {text-underline-color: #F2A64B;}
    52% {text-underline-color: #F2996B;}
    58% {text-underline-color: #F2884B;}
    65% {text-underline-color: #F2664B;}
    71% {text-underline-color: orangered;}
    78% {text-underline-color: red;}
    84% {text-underline-color: #8B0000;} /* Dark Red */
    91% {text-underline-color: red;}
    100% {text-underline-color: orangered;} /* Slightly darker red */
}



@keyframes colorCycleT {
    0% {background-color:  #F24E4B; }
    6% {background-color:  #F26B4B; }
    13% {background-color:  #F2664B; }
    19% {background-color:  #F2884B; }
    26% {background-color:  #F2996B; }
    32% {background-color:  #F2A64B; }
    39% {background-color:  #F2BC9C; }
    45% {background-color:  #F2A64B; }
    52% {background-color:  #F2996B; }
    58% {background-color:  #F2884B; }
    65% {background-color:  #F2664B; }
    71% {background-color:  orangered; }
    78% {background-color:  red; }
    84% {background-color:  #8B0000; } /* Dark Red */
    91% {background-color:  red; }
    100% {background-color:  orangered; } /* Slightly darker red */
}

#main:hover, #block1:hover, #block2:hover {

    animation: colorCycleT 10s infinite !important; /* Анимация изменения цвета фона */
    transition: color 1s ease;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.screen {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #222; /* Цвет экрана */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.scratch {
    position: absolute;
    width: 4px; /* Начальная ширина царапины */
    height: 120px; /* Длина царапины */
    background: linear-gradient(to bottom, transparent 50%, red 100%); /* Градиент крови */
    border-radius: 2px; /* Закругление */
    opacity: 0; /* Невидимость по умолчанию */
    animation: revealScratch 5.3s infinite ; /* Анимация появления */


    transform-origin: bottom; /* Сужение к верхней части */
}

.scratch1 {
    left: 50%;
    top: 10%;
    transform: rotate(-30deg) scaleY(1.2); /* Угол и масштаб */
    animation-delay: 0.5s; /* Задержка анимации */
}

.scratch2 {
    left: 40%;
    top: 20%;
    transform: rotate(-15deg) scaleY(1.1);
    animation-delay: 0.7s;
}

.scratch3 {
    left: 60%;
    top: 20%;
    transform: rotate(15deg) scaleY(1.1);
    animation-delay: 0.9s;
}

.scratch4 {
    left: 35%;
    top: 30%;
    transform: rotate(-5deg) scaleY(1);
    animation-delay: 1.1s;
}

.scratch5 {
    left: 65%;
    top: 30%;
    transform: rotate(5deg) scaleY(1);
    animation-delay: 1.3s;
}

/* Анимация появления царапин */
@keyframes revealScratch {
    0% {
        height: 0;
        opacity: 0;
    }
    70% {
        height: 120px;
        opacity: 1;
    }
    100% {
        height: 120px;
        opacity: 1;
        width: 1px; /* Сужение к концу */
    }
}

/* Кровавые капли */
.blood-drip {
    position: absolute;
    width: 4px; /* Ширина капли */
    height: 0; /* Начальная высота */
    background-color: red; /* Цвет капли */
    border-radius: 50%; /* Круглая капля */
    animation: dripAnimation 1s infinite; /* Анимация капли */
    opacity: 0; /* Невидимость по умолчанию */
}

.drip1 {
    left: 40%;
    top: 48%;
    animation-delay: 2s;
}

.drip2 {
    left: 49%;
    top: 40%;
    animation-delay: 2.5s;
}

.drip3 {
    left: 60%;
    top: 48%;
    animation-delay: 3s;
}

/* Анимация капли */
@keyframes dripAnimation {
    0% {
        height: 0;
        opacity: 0;
    }
    10% {
        height: 10px;
        opacity: 1;
    }
    100% {
        height: 30px; /* Длина капли */
        opacity: 0; /* Исчезновение капли */
        transform: translateY(50px); /* Падение капли */
    }
}




@keyframes strokeCycleH {
    0% {-webkit-text-stroke: 0.5px #F24E4B;}
    6% {-webkit-text-stroke: 0.5px #F26B4B;}
    19% {-webkit-text-stroke: 0.5px #F2884B;}
    26% {-webkit-text-stroke: 0.5px #F2996B;}
    32% {-webkit-text-stroke: 0.5px #F2A64B;}
    39% {-webkit-text-stroke: 0.5px #F2BC9C;}
    45% {-webkit-text-stroke: 0.5px #F2A64B;}
    52% {-webkit-text-stroke: 0.5px #F2996B;}
    58% {-webkit-text-stroke: 0.5px #F2884B;}
    65% {-webkit-text-stroke: 0.5px #F2664B;}
    71% {-webkit-text-stroke: 0.5px orangered;}
    78% {-webkit-text-stroke: 0.5px red;}
    84% {-webkit-text-stroke: 0.5px #8B0000;} /* Dark Red */
    91% {-webkit-text-stroke: 0.5px red;}
    100% {-webkit-text-stroke: 0.5px  orangered;} /* Slightly darker red */
}

h3 {
    animation: strokeCycleH 10s infinite; /* 15 секунд для полного цикла анимации, бесконечное повторение */
    transition: border 1s ease; /* Плавный переход цвета */
}



@keyframes strokeCycleB {
    0% {-webkit-text-stroke: 0.1px #F24E4B;}
    6% {-webkit-text-stroke: 0.1px #F26B4B;}
    19% {-webkit-text-stroke: 0.1px #F2884B;}
    26% {-webkit-text-stroke: 0.1px #F2996B;}
    32% {-webkit-text-stroke: 0.1px #F2A64B;}
    39% {-webkit-text-stroke: 0.1px #F2BC9C;}
    45% {-webkit-text-stroke: 0.1px #F2A64B;}
    52% {-webkit-text-stroke: 0.1px #F2996B;}
    58% {-webkit-text-stroke: 0.1px #F2884B;}
    65% {-webkit-text-stroke: 0.1px #F2664B;}
    71% {-webkit-text-stroke: 0.1px orangered;}
    78% {-webkit-text-stroke: 0.1px red;}
    84% {-webkit-text-stroke: 0.1px #8B0000;} /* Dark Red */
    91% {-webkit-text-stroke: 0.1px red;}
    100% {-webkit-text-stroke: 0.1px  orangered;} /* Slightly darker red */
}

 {
    animation: strokeCycleH 10s infinite; /* 15 секунд для полного цикла анимации, бесконечное повторение */
    transition: border 1s ease; /* Плавный переход цвета */
}

#m{
    margin-left: 4vh !important;

}
#a{
    margin-left: 3vh;
}

#c{
    margin-left: 2.6vh;
}


.taskList {
    margin-top: 0px;
    /*border: 1px solid #007BFF; !* Синий цвет рамки *!*/
    border-radius: 5px; /* Скругленные углы */
    /*background-color: #F8F9FA; !* Светлый фон *!*/
    /*padding: 10px;*/
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Легкая тень */
}
.taskItem {
    /*padding: 3px!important;*/

    /*padding-bottom: 10px;*/
    margin-bottom: 12px;
    /*margin-top: 8px;*/
    border-bottom: 1px solid darkred; /* Разделитель между задачами */
    word-wrap: break-word
}
/*.taskItem:last-child {*/
/*    border-bottom: none; !* Убираем разделитель для последнего элемента *!*/
/*}*/



#taskList{
    margin-left: 70vh;
    margin-top: 0vh;
    width: 80vh;
    height: 25vh;
    background-color: black !important;
    border: 2px solid !important;
    border-radius: 5% !important;
}
#tackItem{

    border: 2px solid #8B0000 !important;
    justify-content: space-between;
}
.agree-button{
    width: 28px;
    height: 28px;
    color: greenyellow;
    border-radius: 30%;
    border: 1.4px solid greenyellow;
    background-color: black;
    /*margin-right: 50vh !important;*/
    /*margin-top: -1vh;*/
    /*float: right;*/
    /*z-index: 100000000000000000000000000000000000 !important;*/

    /*position: absolute;*/
}
.delete-button{
    /*margin-top: -1vh !important;*/
    /*margin-left: 55vh !important;*/
    /*margin-left: 1vh;*/
    /*margin-bottom: 2.5vh !important;*/
    /*margin-right: 20px !important;*/
    color: red !important;
    border: 1.4px solid red;
    background-color: black;
    border-radius: 30%;
    width: 28px !important;
    height: 28px !important;
    /*z-index: 100000000000000000000000000000000000 !important;*/
    /*position: absolute;*/
    /*float: left;*/
}

#tail, #head, #dataForm{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;

}

#dataForm{
    background-color: black;
    color: white;
}

/*#taski{*/
/*    width: 30px;*/
/*    height: 20px;*/
/*    background-color: #F2BC9C;*/
/*}*/
/*#forComf{*/
/*    float: left;*/
/*    width: 3vh !important;*/
/*    background-color: pink;*/
/*}*/
#footerLoadTime{
    /*width: 5vh;*/
    /*height: 2vh;*/
    margin-left: -3vh;
    margin-top: -10vh;
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    font-size: 9px;
    color: white;
    z-index: 0;
}
#footerLoadTime {
    font-family: monospace;
    white-space: pre-line; /* Сохраняет переносы строк */
    overflow: hidden;
    display: inline-block;
    opacity: 1;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.typewriter-effect {
    border-right: 2px solid black;
    animation: typing 5s steps(40, end), blink 0.75s step-end infinite;
    width: 100%;
    white-space: nowrap; /* Не переносит текст на следующую строку */
}


.clickPoint {
    cursor: pointer;
}

/*.clickPoint:hover {*/
/*    background-color: #f2b550 !important;*/
/*    background-color: #fff !important;*/
/*}*/

.clickPoint:active {
    background-color: red !important;
}

#block1, #block2, #main{
    color: black;
}

.clickSection {
    background-color: darkred !important;
    text-decoration: none;
}

.clickSection {
    display: none;
    font-size: 14px;

    background-color: darkred !important;
    /* color: #333; нужно было к тексту чисто применить, не к блокам
    text-decoration: none; */
    /* border-style: hidden; */
    cursor: cell;
    background-color: black !important;
    animation: colorCycleT 10s infinite !important;
    transition: color 1s ease !important;
}


.choice {
    text-decoration: none;
    animation: colorCycleFill 10s infinite !important;
    transition: color 1s ease !important;
    background-color: black;
    cursor: cell;
    margin-left: -40px;
    position: absolute;
    margin-top: 20px !important;
}
#subSec1\.1{
    margin-left: -47px ;
}
#subSec2\.1{
    margin-left: -83px !important;
}

/*#block1{*/

/*}*/

/*#main{*/

/*}*/
/*#block2{*/

/*}*/
#preloader {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 110vh;
    position: absolute !important;
}
.comments{
    left: 200vh !important;
}

.comment-block {
   /* border: 1px solid #ddd;*/
    width: 100vh;
    height: auto;
    font-size: 14px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    /*background-color: black;*/
    color: black;
}



.dots::after {
    content: '';
    animation: dots 1.5s steps(5, end) infinite;
    color: white;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

/* тут двигай комменты*/        
#comments{
    margin-left: 39vh !important;
}


#nameFilt{
    margin-left: 40vh;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#filter, #applyFilter{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;

}

#loadMore{
    margin-left: 40vh;
    color: black;
    /*display: flex;*/
}

/*#applyFilter{*/
/*    padding-left: 20vh !important;*/
/*    display: flex;*/
/*}*/


/*                                                                                                                                                         }*/
/*#comments {*/
/* animation: strokeCycleB 10s infinite;*/
/* transition: border 1s ease; !* Плавный переход цвета *!*/
/*}*/
#loadingText{
    margin-left: 40vh;
    color: white;
}


#swiperWords {
    font-size: 23px;
    left: 10px;
    top: 70px;
}

#footerWhere{
    margin-left: 0vh;
    margin-top: 7vh;
    z-index: 10000000000000000000000000000000000000000000000000000000000;
}


#m, #a, #c{
    font-size: 1.3vw !important;
}
.grid-item{
    font-size: 1vw;
}
#cupOfCoffee{
    font-size: 2.6vw;
}








