body {
    margin: 0;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url('https://avatars.mds.yandex.net/i?id=57366d308cc7016433788cf6a401f0f6_l-4889074-images-thumbs&n=13') no-repeat center top;
    /*background: url('https://avatars.mds.yandex.net/i?id=7ad650205e8849704a75677fbe7fe778_l-10749046-images-thumbs&n=13') no-repeat center top;*/
    background-size:cover;
    background-attachment: fixed;
    top: 0;
    /*background-size: 1232px 720px;*/

}
#header{
    display: block;
    width: 100%; /* Занимает всю ширину окна */
    height: 50px;
    background-color: #000;
    /*opacity: 60%;*/
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid #000 !important;
    border-top: 2px solid #000 !important;


    /* background-color: #656771; */
    position: fixed; /* Фиксированное позиционирование */
    display: grid;
    top: 0; /* Вверху страницы */
    left: 0; /* Слева страницы */
    z-index: 1000; /* На переднем плане */
    display: flex; /* Используем flexbox для центрирования контента */
    padding: 0 10px; /* Немного отступов с боков */
    /*background-image: url('Images/uzor.png');*/
    outline: none;


}

#footer {
    /*display: block;*/
    width: 100%; /* Занимает всю ширину окна */
    height: 45px;
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));*/ /* Градиент от полупрозрачного черного к более насыщенному */

    position: fixed;
    /*top: 60px !important;*/
    left: 0 !important;
    bottom: 2.5vh !important;
    /*background-image: url('WebFrontLabs/Images/paper.png') !important;*/
    color: red;
}

.fa-telegram{
    z-index: 100000000000 !important;
    background-blend-mode: multiply !important;
    margin-left: 115vh;
    margin-top: 4vh;
    color: red;
}

#phone{
    padding-left: 8vh;
    margin-top: 4vh;
    color: #000;
}

#git{
    padding-left: 9vh;
    color: #000;
}
#phoneIcon{
    color: #000 !important;
}

#number{
    padding-left: 2.4vh !important;
}

h3{
    font-size: 28px;
    margin-left: 79vh;
    margin-top: 30vh;
    text-indent: 7.5vh;
    /*text-decoration: underline ;*/
    /*-webkit-text-stroke: 2px red;*/
}

#inH3{
    margin-left: 2vh;
}

/*@media screen  and (max-width: 250px){*/
/*    #m{*/
/*        font-size: 5px !important;*/
/*    }*/
/*    #a{*/
/*        font-size: 5px !important;*/
/*    }*/
/*    #c{*/
/*        font-size: 5px !important;*/
/*    }*/
/*}*/




@media screen  and (max-width: 350px){
    #m{
        font-size: 5px !important;
    }
    #a{
        font-size: 5px !important;
    }
    #c{
        font-size: 5px !important;
    }
    .grid-table .grid-item {
           font-size: 6px !important;
    }
}

@media screen  and (max-width: 500px){
    #main{
        width: 9.4vh;
        height: 2.7vh;
    }
    #block1{
        width: 10.4vh;
        height: 2.7vh;
    }
    #block2{
        width: 13.3vh;
        height: 2.7vh;
    }
    #m{
        font-size: 6px !important;
    }
    #a{
        font-size: 6px !important;
    }
    #c{
        font-size: 6px !important;
    }

    #grid-item{
        font-size: 9px !important;
    }
}
@media screen  and (max-width: 600px){
    #main{
        width: 9.4vh;
        height: 2.7vh;
    }
    #block1{
        width: 10.4vh;
        height: 2.7vh;
    }
    #block2{
        width: 13.3vh;
        height: 2.7vh;
    }

    #m{
        font-size: 8px !important;
    }
    #a{
        font-size: 8px !important;
    }
    #c{
        font-size: 8px !important;
    }
    .grid-table{
        width: 15%;
    }
    .grid-item{
        font-size: 11px;
    }
}


@media screen and (max-width: 700px) {
    /*#main{*/
    /*    height: 10px;*/
    /*    width: 20px;*/
    /*    font-size: 14px;*/
    /*    margin-left: 90vh;*/
    /*}*/
    #main{
        width: 10vh;
        height: 2.8vh;
    }
    #block1{
        width: 11vh;
        height: 2.8vh;
    }
    #block2{
        width: 13.9vh;
        height: 2.8vh;
    }

    #m{
        font-size: 10px !important;
    }
    #a{
        font-size: 10px !important;
    }
    #c{
        font-size: 10px !important;
    }
    .grid-item {
          font-size: 11px !important;
    }                                

}
@media screen  and (max-width: 800px){
    #main{
        width: 12vh;
        height: 3.1vh;
        margin-left: 100vh !important;
    }
    #block1{
        width: 13vh;
        height: 3.1vh;
        margin-left: 119vh;
    }
    #block2{
        width: 15.9vh;
        height: 3.1vh;
        margin-left: 129vh;
    }

    #m{
        font-size: 12px !important;
    }
    #a{
        font-size: 12px !important;
    }
    #c{
        font-size: 12px !important;
    }

    
}


#a{
    margin-left: 2vh !important;
}





